<div class="livro-form-container">
  <h2>{{ editando ? 'Editar' : 'Novo' }} Livro</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="nome">Nome:</label>
      <input id="nome" name="nome" [(ngModel)]="livro.nome" required />
    </div>
    <div>
      <label for="preco">Preço:</label>
      <input id="preco" name="preco" type="number" [(ngModel)]="livro.preco" required step="0.01"/>
    </div>
    <div>
      <label for="autor">Autor:</label>
      <select id="autor" name="autorId" [(ngModel)]="livro.autor.id" required>
        <option [ngValue]="undefined" disabled selected>Selecione o autor</option>
        <option *ngFor="let autor of autores" [ngValue]="autor.id">{{ autor.nome }}</option>
      </select>
    </div>
    <button type="submit">Salvar</button>
    <div *ngIf="mensagem" class="sucesso">{{ mensagem }}</div>
  </form>
</div>
